@import 'variables.scss';

/** Break points */

@import 'breakpoints/base.scss';


@media only screen and (min-width: 380px) {

	// styles in 481up.scss
	@import 'breakpoints/380.scss';

} // end of media query

@media only screen and (min-width: 480px) {

	// styles in 481up.scss
	@import 'breakpoints/480.scss';

} // end of media query

@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import 'breakpoints/768.scss';

} // end of media query


@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import 'breakpoints/1030.scss';

} // end of media query

@media only screen and (min-width: 1300px) {

	// styles in 1300up.scss
	@import 'breakpoints/1300.scss';

} // end of media query

@media only screen and (min-width: 1600px) {

	// styles in 1600up.scss
	@import 'breakpoints/1600.scss';

} // end of media query




/** Disclosure: These styles were lifted from the Vessi website to get the fonts **/

@import 'type.scss';

body {
  font-size: 14px;
  line-height: 1.6;
  font-family: "Conv_Metropolis";
  color: #231f20;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }



@import 'product.scss';